#attention {
    background-image: url("../img/hockey_bckgrnd_md.jpg");
    height: auto;
    padding-bottom: 20px;
    padding-top: 90px;
}


.intro-text {
    font-size: 3em;
}

#about-me {
    height: 575px;
}