
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background-color: black;
    margin: 0;
    font-size:16px;
    font-family: 'Roboto', sans-serif;

}

section {

}

.intro-text {
    font-size: 2em;
}


/* *******************
NAVIGATION
***************** */

.nav-bar {
    height: 50px;
    color: rgba(255, 255, 255, 0.90);
}


.nav-bar header {
    float: left;
    margin-left: 30px;
}

header h2 {
    margin-top: .5em;
    margin-bottom: 0;
}

#menuB {
    height: 50px;
    width: 50px;
    float: right;
    background-color: black;
    color: white;
}



nav {
    /* display: none; */
    width: 50%;
    height: 150px;
    z-index: 1;
    background-color: rgba(27, 27, 27, 0.89);
    position: absolute;
    -webkit-transform: translate(100%, -150px);
    transform: translate(100%, -150px);
    transition: transform 0.3s ease;
  }

  nav.open {
    /* display: block; */
    -webkit-transform: translate(100%, 50px);
    transform: translate(100%, 50px);
  }

.nav-bar a {
    text-decoration: none;
    color: white;
    letter-spacing: 1.5;
}


li {
    list-style-type: none;
    line-height: 1.7em;
}

a:hover {
    /* TODO: */
}

/* ***********************
Attn-grabber
************************ */

#attention {
    background-repeat: no-repeat;
    background-position-x: center;
    position: relative;
}

#attention {
    background-image: url("../img/hockey_bckgrnd_sm.jpg");
    height: 288px;
    padding-top: 10%;
    background-size: cover;
    margin-bottom: -20px;
}

div {

}

.intro-text{
    font-family: 'Lato', sans-serif;
    background-color: rgba(27, 27, 27, 0.788);
    color: rgba(255, 255, 255, 0.9);
    line-height: 1.5em;
    font-style: italic;
    padding-right: .25em;

}


.img-attribution {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* ***********************
ABOUT
*********************** */
#about-me {
    height: 288px;
}

#about-me {
    background-color: rgba(255, 255, 255, 0.90);
    font-family: 'Lato'; sans-serif;
    text-align: center;
}

#my-work {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: white;
}
.featured {
    width: 100%;
}

.item {
    text-align: center;
    margin: 0 auto;
}

.item img {
    max-width: 100%;
}